body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

main {
  flex: 1;
}

footer {
  padding: 1em;
}

.input-block {
  border-radius: 10px;
  padding: 1em 0.5em;
  background-color: #ffffff0a;
}

.result {
  margin-top: 1em;
  border-radius: 10px;
  padding: 0.5em;
  background-color: #ffffff0a;
}

#Baba-Search-Licence {
  word-break: break-word;
  white-space: break-spaces;
}
